@import "tailwindcss";

@theme {
  /* Di sini kita mendaftarkan warna Hijau Elegan secara manual */
  --color-primary: #1c5f5a;
  --color-primary-dark: #13423f;
  --color-primary-light: #e8f2f1;
  --color-background-light: #f6f8f8;
}

/* Tambahan agar logo tidak raksasa jika mesin cat belum panas */
img {
  max-width: 100%;
  height: auto;
}